/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@400;700&display=swap');

* {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Nunito', sans-serif;
}

body {
    background: rgb(255, 255, 255);
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 500px;
    height: 500px;
    background-color: rgb(183, 0, 238);
}

.form {
    padding: 1em;
    color: rgb(246, 255, 0);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header h1 {
    font-size: 22px;
    margin-right: 10px; 
    font-weight: bold;
    margin-right: auto;
}

.content {
    margin-top: 20px; 
}

.tobat-img {
    width: 300px;
}

.form .heart {
    width: 30px;
    display: inline-block;
}

.form button {
    background-color: rgb(255, 39, 6);
    border: none;
    width: 6em;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
    cursor: pointer;
}

.form .content .tobat-img {
    margin-bottom: 1em;
}

.form .content form input {
    margin-right: 1em;
    height: 1em;
    width: 200px;
    padding: .4em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.form .content form {
    display: flex;
    justify-content: space-between;
}
