/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@400;700&display=swap');

* {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #fff;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    border-radius: 50%;
    width: 800px;
    height: 600px;
    background-color: rgb(183, 0, 238);
    box-shadow: 
        0 0 5px #000,
        0 0 10px #010101,
        0 0 15px #020202,
        0 0 20px #030303,
        0 0 25px #040404,
        0 0 30px #050505,
        0 0 35px #060606,
        0 0 40px #070707,
        0 0 45px #080808,
        0 0 50px #090909,
        0 0 55px #0a0a0a,
        0 0 60px #0b0b0b,
        0 0 65px #0c0c0c,
        0 0 70px #0d0d0d,
        0 0 75px #0e0e0e,
        0 0 80px #0f0f0f,
        0 0 85px #101010,
        0 0 90px #111111,
        0 0 95px #121212,
        0 0 100px #131313,
        0 0 105px #141414,
        0 0 110px #151515,
        0 0 115px #161616,
        0 0 120px #171717,
        0 0 125px #181818,
        0 0 130px #191919,
        0 0 135px #1a1a1a,
        0 0 140px #1b1b1b,
        0 0 145px #1c1c1c,
        0 0 150px #1d1d1d,
        0 0 155px #1e1e1e,
        0 0 160px #1f1f1f,
        0 0 165px #202020,
        0 0 170px #212121,
        0 0 175px #222222,
        0 0 180px #232323,
        0 0 185px #242424,
        0 0 190px #252525,
        0 0 195px #262626,
        0 0 200px #272727,
        0 0 205px #282828,
        0 0 210px #292929,
        0 0 215px #2a2a2a,
        0 0 220px #2b2b2b,
        0 0 225px #2c2c2c,
        0 0 230px #2d2d2d,
        0 0 235px #2e2e2e,
        0 0 240px #2f2f2f,
        0 0 245px #303030,
        0 0 250px #313131,
        0 0 255px #323232;
}


.form {
    padding: 1em;
    color: rgb(246, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header h1 {
    font-size: 22px;
    margin-right: 10px; 
    font-weight: bold;
    margin-right: auto;
}

.content {
    margin-top: 20px; 
}

.tobat-img {
    width: 300px;
}

.form .heart {
    width: 30px;
    display: inline-block;
}

.form button {
    background-color: rgb(255, 39, 6);
    border: none;
    width: 6em;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
    cursor: pointer;
}

#nextButton {
    display: none;
}

.form .content .tobat-img {
    margin-bottom: 1em;
}

.form .content form input {
    margin-right: 1em;
    height: 1em;
    width: 200px;
    padding: .4em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.form .content form {
    display: flex;
    justify-content: space-between;
}
